<!--
  Waiterbot controller No wireless version
  -->
<launch>
  <!-- configuration file-->
  <arg name="common_param" default="$(find waiterbot_ctrl_nowireless)/param/common.yaml"/>
  <arg name="master_ctrl_param" default="$(find waiterbot_ctrl_nowireless)/param/master_ctrl.yaml"/>

  <!-- data file -->
  <arg name="waypoint_filename" default="$(find waiterbot_ctrl_nowireless)/data/waypoints.yaml"/>
  <arg name="global_marker_filename" default="$(find waiterbot_ctrl_nowireless)/data/global_markers.yaml"/>

  <!-- Navigation related -->
  <arg name="map_name" default="cropped"/>
  <arg name="initial_pose_x" default="2.0"/>
  <arg name="initial_pose_y" default="2.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <!-- Master controller related-->
  <arg name="loc_vm" default="vending_machine"/>
  <arg name="loc_customer" default="customer"/>
  
  <!-- Important Poses -->
  <arg name="ar_pair_baseline"            default="0.26"/>
  <arg name="ar_pair_baseline_half"       default="0.13"/>
  <arg name="ar_pair_target_pose_offset"  default="0.40"/>

  <!--  ********** Alvar AR markers tracker && AR marker Processor ***********  -->
  <include file="$(find waiterbot_ctrl_nowireless)/launch/includes/_ar_tracker.launch">
    <arg name="ar_pair_baseline"            value="$(arg ar_pair_baseline)"/>
    <arg name="ar_pair_baseline_half"       value="$(arg ar_pair_baseline_half)"/>
    <arg name="ar_pair_target_pose_offset"  value="$(arg ar_pair_target_pose_offset)"/>
  </include>
  <include file="$(find waiterbot_ctrl_nowireless)/launch/includes/_approach_vm.launch"/>

  <!--  ************* Waiterbot Master controller **************  -->
  <include file="$(find waiterbot_ctrl_nowireless)/launch/includes/_master_ctrl.launch">
    <arg name="common_param" value="$(arg common_param)"/>
    <arg name="loc_vm"       value ="$(arg loc_vm)"/>
    <arg name="loc_customer" value="$(arg loc_customer)"/>
  </include>

  <!-- ************* Waypoint Manager *********** --> 
  <node pkg="yocs_waypoint_manager" name="waypoint_manager" type="waypoint_manager" output="screen">
    <param name="filename" value="$(arg waypoint_filename)"/>
  </node>

  <!--  ****** Geometric and semantic map servers *****  -->
  <!--
  <node name="map_server" pkg="map_server" type="map_server" args="$(find waiterbot_ctrl_nowireless)/data/$(arg map_name).yaml">
    <param name="frame_id" value="/map"/>
  </node>
  -->

  <!--  ************** Rosnav move base ***************  -->
<!--  <include file="$(find waiterbot_ctrl_nowireless)/launch/includes/_move_base_eband.launch"/>-->
  <include file="$(find waiterbot_ctrl_nowireless)/launch/includes/_move_base.launch"/>

  <!--  ******************** Amcl *********************  -->
  <!--
  <include file="$(find waiterbot_ctrl_nowireless)/launch/includes/_amcl.launch">
    <arg name="scan_topic" value="scan"/>
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>
  -->

  <!-- ************* Fake Initialization *********** -->
  <include file="$(find waiterbot_ctrl_nowireless)/launch/includes/_fake_local.launch"/>
  
  <!-- ************* Pose Initialisation Manager *********** -->
  <include file="$(find waiterbot_ctrl_nowireless)/launch/includes/_init_pose_manager.launch" />

  <!-- ************* TF Publishers *********** -->
  <include file="$(find waiterbot_ctrl_nowireless)/launch/includes/_tf_publishers.launch">
    <arg name="ar_pair_baseline_half"       value="$(arg ar_pair_baseline_half)"/>
    <arg name="ar_pair_target_pose_offset"  value="$(arg ar_pair_target_pose_offset)"/>
  </include>
</launch>
