<!--
  Waiterbot controller No wireless version
  -->
<launch>
  <!-- configuration file-->
  <arg name="common_param" default="$(find waiterbot_ctrl_nowireless)/param/common.yaml"/>
  <arg name="ar_marker_processor_param" default="$(find waiterbot_ctrl_nowireless)/param/ar_marker_processor.yaml"/>
  <arg name="master_ctrl_param" default="$(find waiterbot_ctrl_nowireless)/param/master_ctrl.yaml"/>

  <!-- data file -->
  <arg name="waypoint_filename" default="$(find waiterbot_ctrl_nowireless)/data/waypoints.yaml"/>
  <arg name="global_marker_filename" default="$(find waiterbot_ctrl_nowireless)/data/global_markers.yaml"/>

  <!-- Navigation related -->
  <arg name="map_name" default="edu_room_cropped"/>
  <arg name="initial_pose_x" default="2.0"/>
  <arg name="initial_pose_y" default="2.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <!-- Master controller related-->
  <arg name="loc_vm" default="vending_machine"/>
  <arg name="loc_customer" default="customer"/>

  <!--  ********** Alvar AR markers tracker && AR marker Processor ***********  -->
  <include file="$(find waiterbot_ctrl_nowireless)/launch/includes/_ar_tracker.launch">
    <arg name="common_param" value="$(arg common_param)"/>
    <arg name="global_marker_filename" value="$(arg global_marker_filename)"/>
    <arg name="ar_marker_processor_param" value="$(arg ar_marker_processor_param"/>

    <arg name="max_frequency" value="4.0"/>   <!-- This is a CPU-hungry bastard; reduce its rate  -->
  </include>

  <!--  ************* Waiterbot Master controller **************  -->
  <include file="$(find waiterbot_ctrl_nowireless)/launch/includes/_master_ctrl.launch">
    <arg name="common_param" value="$(arg common_param)"/>
    <arg name="loc_vm"       value ="$(arg loc_vm)"/>
    <arg name="loc_customer" value="$(arg loc_customer)"/>
  </include>

  <!-- ************* Waypoint Manager *********** --> 
  <node pkg="yocs_waypoint_manager" name="waypoint_manager" type="waypoint_manager" output="screen">
    <param name="filename" value="$(arg waypoint_filename)"/>
  </node>

  <!--  ****** Geometric and semantic map servers *****  -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find waiterbot_ctrl_nowireless)/resources/maps/$(arg map_name).yaml">
    <param name="frame_id" value="/map"/>
  </node>

  <!--  ************** Rosnav move base ***************  -->
  <include file="$(find waiterbot_controller)/launch/includes/_move_base.launch"/>

  <!--  ******************** Amcl *********************  -->
  <include file="$(find waiterbot_controller)/launch/includes/_amcl.launch">
    <arg name="scan_topic" value="scan"/>
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>
</launch>
