<!-- Simulation -->
<launch>
  <arg name="common_param" default="$(find waiterbot_ctrl_nowireless)/param/common.yaml"/>

  <arg name="waypoint_filename" default="$(find waiterbot_ctrl_nowireless)/data/waypoints.yaml"/>
  <arg name="loc_vm" default="vending_machine"/>
  <arg name="loc_customer" default="customer"/>
  <arg name="is_elastic_planner" default="true"/>

  <include file="$(find turtlebot_stage)/launch/turtlebot_in_stage.launch">
    <arg name="is_elastic_planner" value="$(arg is_elastic_planner)"/>
  </include>

  <!--  ************* Waiterbot Master controller **************  -->
  <include file="$(find waiterbot_ctrl_nowireless)/launch/includes/_master_ctrl.launch">
    <arg name="common_param" value="$(arg common_param)"/>
    <arg name="loc_vm" value ="$(arg loc_vm)"/>
    <arg name="loc_customer" value="$(arg loc_customer)"/>
  </include>

  <!-- ************* Waypoint Manager *********** --> 
  <node pkg="yocs_waypoint_manager" name="waypoint_manager" type="waypoint_manager" output="screen">
    <param name="filename" value="$(arg waypoint_filename)"/>
  </node>

  <!-- ************* Joystick Manager *********** -->
  <include file="$(find waiterbot_ctrl_nowireless)/launch/includes/_xbox360_joystick.launch" />

  <!-- ************ Dummy order sender ********** -->
  <node pkg="dummy_ces_tablet" name="dummy_ces_tablet" type="dummy_ces_tablet_node.py" /> 
</launch>
