<!--
 Half-ring of IR sensors
  - base to ring center static tf
  - arduino-ROS serial gateway
  - IR readings to laserscan node
-->
<launch>
  <arg name="base_link" default="base_link" />
  <arg name="irscan_topic" default="ir_scan"/>

  <node pkg="tf" type="static_transform_publisher" name="ir_link_publisher"
        args="0.0 0.0 0.09 0.0 0.0 0.0 $(arg base_link) /ir_link 100"/>

  <!-- <node name="arduino_gateway" pkg="rosserial_python" type="serial_node.py" args="/dev/arduino"/> -->
  <node name="arduino_gateway" pkg="waiterbot" type="ir_sensors.bash"/>

  <node name="ir_to_laserscan" pkg="waiterbot" type="ir_scan_node">
    <param name="maximum_range" value="0.40"/>
    <param name="range_variance" value="0.025"/>
    <remap from="ir_scan" to="$(arg irscan_topic)"/>
  </node>
</launch>
