<!-- 
         Safety, reactive controller
-->
<launch>
  <!-- Velocity smoother -->
  <node pkg="nodelet" type="nodelet" name="safety_ctrl_velocity_smoother" args="load yocs_velocity_smoother/VelocitySmootherNodelet mobile_base_nodelet_manager">
    <rosparam file="$(find waiterbot)/param/vel_smoother.yaml" command="load"/>
    <param name="accel_lim_v"  value="0.5"/>
    <param name="decel_factor" value="3.0"/>  <!-- Make breaking almost unsmoothed so bumper and cliff sensors do their job -->

    <remap from="safety_ctrl_velocity_smoother/odometry" to="odom__STUPIDNAMESOWEDONOTUSE"/> <!-- Todo : remove on velocity_smoother -->
    <remap from="safety_ctrl_velocity_smoother/smooth_cmd_vel" to="/cmd_vel_mux/input/safety_ctrl"/>
    <remap from="safety_ctrl_velocity_smoother/robot_cmd_vel" to="/mobile_base/commands/velocity"/>
  </node>

  <!-- Safety controller -->
  <node pkg="nodelet" type="nodelet" name="navigation_safety_controller" args="load kobuki_safety_controller/SafetyControllerNodelet mobile_base_nodelet_manager">
    <remap from="navigation_safety_controller/cmd_vel"           to="safety_ctrl_velocity_smoother/raw_cmd_vel"/>
    <remap from="navigation_safety_controller/events/bumper"     to="mobile_base/events/bumper"/>
    <remap from="navigation_safety_controller/events/cliff"      to="mobile_base/events/cliff"/>
    <remap from="navigation_safety_controller/events/wheel_drop" to="mobile_base/events/wheel_drop"/>
  </node>
</launch>
