<launch>
  <arg name="global_marker_filename" default="$(find waiterbot_sensors)/resources/example_global_markers.yaml"/>

  <node name="ar_marker_processor" pkg="waiterbot_sensors" type="ar_marker_processor" respawn="false" output="screen">
    <param name="global_marker_filename" value="$(arg global_marker_filename)"/>
  </node>
</launch>
