<launch>
  <!-- openni is launched elswhere in the rapp (in rgb mode) -->
  <include file="$(find waiterbot_ar_marker_tracking)/launch/includes/ar_track_alvar.xml">
    <arg name="ar_marker_size" value="6.0"/>
    <arg name="ar_marker_max_frequency" value="4.0"/>   <!-- This is a CPU-hungry bastard; reduce its rate  -->
  </include>
  <include file="$(find waiterbot_ar_pair_tracking)/launch/tracking.launch">
    <arg name="ar_pair_left_id"            value="3"/>
    <arg name="ar_pair_right_id"           value="0"/>
    <arg name="ar_pair_baseline"           value="0.26"/> <!-- YO!!!! Change this in tandem with the next one! -->
    <arg name="ar_pair_baseline_half"      value="0.13"/>
    <arg name="ar_pair_target_pose_offset" value="0.33"/> <!-- Target distance in front of the midpoint of the two ar markers -->
    <arg name="ar_pair_publish_transforms" value="false"/> <!-- Don't want it to publish internal transforms that disrupt the main tree -->
  </include>
</launch>
