<!-- 
         Waiterbot controller
-->
<launch>
  <arg name="loc_vm" default="vending_machine"/>
  <arg name="loc_customer" default="customer"/>

  <!-- Velocity smoother nodelet; we must provide the absolute name of nodelet manager, as we can be in an application namespace -->
  <node pkg="nodelet" type="nodelet" name="special_tasks_velocity_smoother" args="load yocs_velocity_smoother/VelocitySmootherNodelet /mobile_base_nodelet_manager">
    <rosparam file="$(find waiterbot_ctrl_nowireless)/param/vel_smoother.yaml" command="load"/>
    <remap from="special_tasks_velocity_smoother/smooth_cmd_vel" to="/cmd_vel_mux/input/special_task"/>
    <remap from="special_tasks_velocity_smoother/robot_cmd_vel" to="/mobile_base/commands/velocity"/>
    <remap from="special_tasks_velocity_smoother/odometry" to="/odom"/>
  </node>

  <!-- Waiterbot main node -->
  <node name="waiterbot_ctrl_nowireless" pkg="waiterbot_ctrl_nowireless" type="waiter_node" output="screen">
    <param name="loc_vm" value ="$(arg loc_vm)"/>
    <param name="loc_customer" value="$(arg loc_customer)"/>
  </node>
</launch>
