<launch>
  <!--
      AR marker tree:
      Includes the target poses for navigation and approach
      as well as the global reference frame aka 'map'
    -->
    
  <arg name="ar_pair_baseline_half">
  <arg name="ar_pair_target_pose_offset">
  <node pkg="tf" type="static_transform_publisher" name="ar_link_left_publisher"
        args="-$(arg ar_pair_baseline_half) 0.0 0.0 0.0 0.0 0.0 ar_link ar_3 100"/>
  <node pkg="tf" type="static_transform_publisher" name="ar_link_right_publisher"
        args="$(arg ar_pair_baseline_half) 0.0 0.0 0.0 0.0 0.0 ar_link ar_0 100"/>
  <node pkg="tf" type="static_transform_publisher" name="ar_link_target_publisher"
        args="0.0 0.0 $(arg ar_pair_target_pose_offset) 0.0 0.0 3.14 target_pose ar_link 100"/>
  <node pkg="tf" type="static_transform_publisher" name="ar_link_global_publisher"
        args="0.0 -0.36 0.0 0.0 -1.57 -1.57 ar_link ar_global 100"/>
  <node pkg="tf" type="static_transform_publisher" name="vm_nav_target_publisher"
        args="0.0 0.36 -0.30 1.57 -1.57 0.0 target_pose nav_target_vm 100"/>
  <node pkg="tf" type="static_transform_publisher" name="origin_nav_target_publisher"
        args="1.5 0.0 0.0 0.0 0.0 0.0 ar_global nav_target_origin 100"/>
  <!-- Extra transforms - drop this one right under target_pose -->
  <node pkg="tf" type="static_transform_publisher" name="target_pose_footprint_publisher" 
        args="0.0 0.36 0.10 1.57 -1.57 0.0 target_pose approach_footprint 100"/>
</launch>
