<!--
  Launcher I used for testing with a turtlebot (not a waiterbot).
  
  Fire up launchers in this order:
  
  - turtlebot/minimal.launch
  - waiterbot_ar_pair_approach/machinery.launch
  - waiterbot_ar_pair_approach/turtlebot_approach.launch
 -->

<launch>

  <!-- parent -> child -->
  <node pkg="tf" type="static_transform_publisher" name="ar_global_target_footprint_publisher" args="0.0 0.0 0.4 0.0 0.0 0.0 ar_global target_footprint 100"/>

  <!-- Ideally, you'd load this into the appropriate mobile base manager -->
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/>
  
  <node pkg="nodelet" type="nodelet" name="diff_drive_pose_controller"
        args="load yocs_diff_drive_pose_controller/DiffDrivePoseControllerNodelet nodelet_manager">
    <param name="spin_rate" value="25"/>
    <param name="base_frame_name" value="base_footprint"/>
    <param name="goal_frame_name" value="base_goal_pose"/>
    <param name="v_max" value="0.1"/>
    <param name="r_thres" value="0.05"/>
    <param name="k_1" value="1.0"/>
    <param name="k_2" value="10.0"/>
    <param name="beta" value="0.2"/>
    <param name="lambda" value="2.0"/>
  </node>
</launch>