<!--
  Waiterbot global navigation:
  - turtlebot
  - 3d sensor
  - ir half ring
  - virtual sensor (throat-cutting tables)
  - safety controller
  - auto-docking
  - ar marker tracker
  - navigation manager
  - move_base
  - geometric map
  - semantic map
  - amcl localization
  - rviz view (optional)
 -->

<launch>
  <!-- Name of the map to use (without path nor extension) and initial position -->
  <arg name="map_name"       default="edu_room_cropped"/>
  <arg name="initial_pose_x" value="2.0"/>
  <arg name="initial_pose_y" value="2.0"/>
  <arg name="initial_pose_a" value="0.0"/>

  <!--  *********** Turtlebot and 3d sensor ***********  -->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="true"/>
    <arg name="scan_processing" value="true"/>
    <arg name="depth_processing" value="false"/>
  </include>

  <!--  ************** Additional sensors *************  -->
  <include file="$(find waiterbot)/launch/includes/_ir_sensors.launch"/>
  <include file="$(find waiterbot)/launch/includes/_virt_sensor.launch"/>

  <!--  ***** Kobuki mobile base safety controller ****  -->
  <include file="$(find waiterbot)/launch/includes/_safety_ctrl.launch"/>

  <!-- Reconfigure command velocity multiplexer to fit waiterbot needs. Just set the parameter doesn't work
       if we start the waiterbot rapp with app manager; we must explicitly call the reconfigure service -->
  <node pkg="rosservice" type="rosservice" name="reconfig_vel_mux" args="call --wait /cmd_vel_mux/set_parameters
            '{config:{strs:[[yaml_cfg_file,/home/turtlebot/cafe_concert/src/kobuki-x/waiterbot/param/vel_multiplexer.yaml]]}}'"/>

  <!--  ******** Kobuki auto-docking controller *******  -->
  <include file="$(find waiterbot)/launch/includes/_autodock.launch"/>

  <!--  ********** Alvar AR markers tracker ***********  -->
  <include file="$(find waiterbot)/launch/includes/_ar_tracker.launch">
    <arg name="max_frequency" value="4.0"/>  <!-- This is a CPU-hungry bastard; reduce its rate --> 
  </include>

  <!--  ************* Navigation manager **************  -->
  <include file="$(find waiterbot)/launch/includes/_master_ctrl.launch">
    <arg name="debug_mode" value="true"/>
  </include>

  <!--  ************** Rosnav move base ***************  -->
  <include file="$(find waiterbot)/launch/includes/_move_base.launch"/>

  <!--  ****** Geometric and semantic map servers *****  -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find cafe_concert)/maps/$(arg map_name).yaml">
    <param name="frame_id" value="/map"/>
  </node>
  <include file="$(find semantic_region_handler)/launch/data_publisher_from_file.launch"/>
<!-- 
  <include file="$(find cafe_rapps)/rapps/database/cafe_database.launch"/>-->

  <!--  ******************** Amcl *********************  -->
  <include file="$(find waiterbot)/launch/includes/_amcl.launch">
    <arg name="scan_topic" value="/scan"/>
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!--  ***************** Visualisation *****************
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_rviz_launchers)/rviz/navigation.rviz" />
  <node name="cpu_temperature" pkg="waiterbot" type="cpu_temp.sh"/>-->

</launch>
