<!--
  Waiterbot global navigation:
  - turtlebot
  - 3d sensor
  - map_server
  - move_base
  - static map
  - amcl
  - ar_track
  - rviz view
 -->

<launch>
  <!-- Name of the map to use (without path nor extension) and initial position -->
  <arg name="map_name"       default="map2"/>
  <arg name="initial_pose_x" value="2.0"/>
  <arg name="initial_pose_y" value="2.0"/>
  <arg name="initial_pose_a" value="0.0"/>

  <!--  *********** Turtlebot and 3d sensor ***********  -->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="true" />
    <arg name="depth_registration" value="true" />
    <arg name="depth_processing" value="true" />
  </include>

  <!--  ************* Kobuki IR half ring *************  -->
  <include file="$(find waiterbot)/launch/includes/_ir_frames.launch"/>
  <node name="arduino_gateway" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0"/>
  <node name="ir_to_laserscan" pkg="waiterbot" type="ir_scan_node">
    <param name="closest_rejected" value="0.35"/>
    <param name="farthest_contact" value="0.8"/>
    <param name="readings_buffer" value="15"/>
    <param name="max_mean_error" value="10.0"/>
    <param name="max_covariance" value="0.005"/>
    <param name="noisy_readings" value="2"/>
  </node>

  <!--  ********** Kobuki mobile base extras **********  -->
  <include file="$(find turtlebot_bringup)/launch/includes/kobuki/_safety_controller.launch"/>
  <param name="cmd_vel_mux/yaml_cfg_file" value="$(find waiterbot)/param/vel_multiplexer.yaml"/>

  <!--  ******** Kobuki auto-docking controller *******  -->
  <include file="$(find kobuki_auto_docking)/launch/minimal.launch"/>

  <!--  ********** Alvar AR markers tracker ***********  -->
  <include file="$(find waiterbot)/launch/includes/_ar_tracker.launch">
    <arg name="max_frequency" value="4.0"/>  <!-- This is a CPU-hungry bastard; reduce its rate --> 
  </include>

  <!--  ************* Navigation manager **************  -->  
  <node name="waiterbot" pkg="waiterbot" type="waiterbot_node">
    <param name="base_beacon_distance" value="0.4"/>   <!-- At which distance from the base we start relaying on ir beacons -->  
    <param name="base_marker_distance" value="1.4"/>   <!-- At which distance from the base we start relaying on ar markers -->  
    <param name="check_localized" value="true"/>
    <param name="amcl_max_error" value="1.0"/>
    <param name="global_frame" value="map"/>
    <param name="odom_frame" value="odom"/>
    <param name="base_frame" value="base_footprint"/>
    <param name="tf_broadcast_freq" value="5.0"/>

    <!-- Incoming remaps -->
    <remap from="new_goal"    to="move_base_simple/goal"/>
    <remap from="amcl_init"   to="initialpose"/>
    <remap from="amcl_pose"   to="amcl_pose"/>
    <remap from="odometry"    to="odom"/>

    <!-- Outgoing remaps -->
    <remap from="issue_goal"  to="move_base_simple/goal"/>
    <remap from="cancel_goal" to="move_base/cancel"/>
    <remap from="reset_pose"  to="initialpose"/>

    <remap from="mobile_base/commands/velocity" to="cmd_vel_mux/input/special_tasks"/>
  </node>

  <!--  ************** Rosnav move base ***************  -->
  <include file="$(find waiterbot)/launch/includes/_move_base.launch"/>

  <!--  ****** Geometric and semantic map servers *****  -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find waiterbot)/resources/stage/maps/$(arg map_name).yaml">
    <param name="frame_id" value="/map"/>
  </node>
  <include ns="semantic_map" file="$(find semantic_region_handler)/launch/data_publisher_from_file.launch"/>

  <!--  ******************** Amcl *********************  -->
    <include file="$(find waiterbot)/launch/includes/_amcl.launch">
<!--       <arg name="tf_broadcast" value="false"/>
-->
      <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
      <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
      <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
<!--
    <arg name="initial_cov_xx" value="0.01"/>
    <arg name="initial_cov_yy" value="0.01"/>
    <arg name="initial_cov_aa" value="0.01"/>
-->    </include>

  <!--  ***************** Visualisation *****************  --><!-- 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_rviz_launchers)/rviz/navigation.rviz" /> -->
</launch>
