<!--
  Waiterbot global navigation visualization:
  - rviz view
  - dashboard
 -->

<launch>
  <!--  ***************** Visualisation *****************  -->
  <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"/>
  <include file="$(find turtlebot_dashboard)/launch/turtlebot_dashboard.launch"/>
</launch>
