
<launch>
  <include file="$(find turtlebot_bringup)/launch/minimal_with_appmanager.launch">
    <arg name="robot_name" value="whoola"/>
    <arg name="robot_type" value="waiterbot"/>
    <arg name="rapp_package_whitelist" value="[ces_rapps, cafe_rapps]"/>
  </include>
  
  <!-- Waiterbot URDF model -->
  <arg name="urdf_file" default="$(find waiterbot_bringup)/urdf/waiterbot_v2.urdf" />
  <param name="robot_description" textfile="$(arg urdf_file)" />
</launch>
