<!--
  Standalone launcher used for visualising the waiterbot model
  -->

<launch>
  <arg name="urdf_file" default="$(find waiterbot_bringup)/urdf/waiterbot_v2.urdf" />
  <param name="robot_description" textfile="$(arg urdf_file)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true"/>
  </node>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find waiterbot_bringup)/rviz/model.rviz" />
</launch>
